.footer {
  padding-top: 32px;
  padding-bottom: 26px;
  text-align: center;

  .logo {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer-text {
  margin-bottom: 24px;
}
