.section-team {
  background-color: $background-accent-color;
}
.quote {
  width: 729px;
  font-style: italic;
  font-size: 30px;
  line-height: 1.3;
  color: $title-text-color;
  text-align: center;
}
